body {
  font-family: Arial;
  max-width: 900px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

button {
  padding: 5px 10px;
}
